* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color:#d3d3d3;
    display: flex;
}

#employees{
  display: flex;
  justify-content: row;
}

.container {
   display:  flex;
	 flex-direction: row;
	 align-items: stretch;
}
.card{
    width: 360px;
    height: 450px;
}

.container .card {
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);
    aspect-ratio: 3/4;
    background-color: #fff;
    margin: 20px;
    border-radius: 50px;
    overflow: hidden;
    transition: 0.5s;
}

.container .card img {
    transition: 0.5s;
}
.container .card h1 {
    font-size: 2rem;
}

.divisor{
  width: 100%;
  display: flex;
  align-self: flex-end;
  margin-top: -30px;
}

.divisor-inativo{
  width: 100%;
  display: flex;
  align-self: flex-end;
  margin-top: -30px;
  filter: greyscale(100%);
}


.parte-cima{
  background: linear-gradient(90deg, #D6768F 0%, #4999DA 100%);
  padding: 60px;
  display: flex;
  align-items: center;
  
}

.parte-cima-inativo{
  background: grey;
  padding: 60px;
  display: flex;
  align-items: center;
  
}

#foto{
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.5));
  margin-left: 50px;
  border-radius: 90px;
  display: flex;
  align-items: center;
}

.user {
  width:300px;
  display: flex;
  padding: 10px;
  border-radius: 8px;
}

#nome{
  text-align: center;
  font-size: 23px;
  text-transform: uppercase;
}
#email{
  text-align: center;
  font-size: 15px;
}
.content1{
  display: flex;
  padding-left: 10px;
  font-size: 20px;
}

.content2{
  display: flex;
  padding-left: 10px;
  font-size: 20px;
}

.icon{
  width:5%;
  float:right;
  padding-right: 20px;
}

.infos{
  display: inline-block;
}

@media screen and (min-width: 100px) and (max-width: 600px){
  .container {
    display:flex;
    flex-direction:column;
  }
}